<h1>Recent Boards</h1>
<%= link_to 'Create New Board', new_board_path, class: 'btn btn-primary' %>

<ul>
  <%= render partial: 'board_info', collection: @recent_boards, as: :board %>
</ul>

<%= link_to 'View All Boards', all_boards_path, class: 'btn btn-info' %>