<h1><%= @board.name %></h1>
<p>Created by: <%= @board.email %></p>

<div class="minesweeper-board">
  <% @board.board_state.each do |row| %>
    <div class="minesweeper-row">
      <% row.each do |cell| %>
        <div class="minesweeper-cell">
          <% if cell == 'X' %>
            <i class="fas fa-bomb mine-color"></i>
          <% else %>
            <i class="fas fa-square"></i>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>