/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .minesweeper-board {
  display: flex;
  flex-direction: column;
}

.minesweeper-row {
  display: flex;
}

.minesweeper-cell {
  width: 30px; /* Adjust size as needed */
  height: 30px; /* Adjust size as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -1px -1px 0 0; /* Removes double borders */
}

.mine-color {
  color: #ffb300;
}

.extra_board_info {
  margin-top: 5px;
  font-size: small;
}

ul {
  padding: 0;
  list-style-type: none;
}

.no_padding {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.show_breadcrums {
  margin-top: 10px;
}